<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学院管理系统</title>
</head>
<body>

    <h2>
        Data
    </h2>
    <h3>
            Student
    </h3>
    <ul>
        {% for student in students %}
            <li>{{student}}</li>
        {% endfor %}
    </ul>
    <h3>
            Teacher
    </h3>
        <ul>
            {% for teacher in teachers %}
                <li>{{teacher}}</li>
            {% endfor %}
        </ul>

    <h2>
        ORM查询语句
    </h2>
        <form method="post" action="/orm_model/">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Submit">
        </form>
    <h2>
        结果
    </h2>>
        <ul>
            {% for record in result %}
                <li>{{record}}</li>
            {% endfor %}
        </ul>
<!--    hello {{words}}-->
</body>
</html>